.result-card {
  flex: 1;

  background: white;

  border-radius: 20px;

  padding: 25px;
}

.result-box {
  margin-top: 20px;

  min-height: 250px;

  background: #f7f7f7;

  border-radius: 15px;

  padding: 20px;
}
