.translate-card {
  flex: 1;

  background: white;

  border-radius: 20px;

  padding: 25px;
}

textarea {
  width: 100%;

  resize: none;

  margin-top: 15px;

  border-radius: 15px;

  padding: 15px;
}

.translate-card button {
  margin-top: 20px;

  width: 100%;

  height: 50px;

  border: none;

  background: #6d4aff;

  color: white;

  border-radius: 15px;
}
