body{

    margin:0;
    background:#f5f3ff;
    font-family:'Pretendard',sans-serif;
}

.container{

    width:1200px;
    margin:auto;
}

.translate-section{

    display:flex;
    gap:20px;
    margin-top:20px;
}

.bottom{

    display:flex;
    gap:20px;
    margin-top:20px;
}
